.top-0{
    top: 0;
}
.gap-20px{
    gap: 20px;
}
.z-index{
    z-index: 2;
}
.padding-bottom-60px{
    padding-bottom: 60px;
}
.align-center{
align-items: center;
}
.py-20{
    padding: 20rem 0rem;
}
.width-100{
    width: 100%;
}