.top-0{
    top: 0;
}
.gap-20px{
    gap: 20px;
}
.gap-25px{
    gap: 25px;
}
.gap-14px{
    gap: 14px;
}
gap
.z-index{
    z-index: 2;
}
.padding-bottom-60px{
    padding-bottom: 60px;
}
.align-center{
align-items: center;
}
.py-20{
    padding: 20rem 0rem;
}
.py-15{
padding: 15rem 0rem;

}
.py-10{
padding: 10rem 0rem;

}
.width-100{
    width: 100%;
}