:root{
    --main-color: #0F0F0F;
    --Text-Hover-color :#ffff;
    --Text-Color:#BFBFBF;
 --main-font: "Inter", sans-serif;
}
*{

    font-family: var(--main-font);
}
body{
    background-color: #0F0F0F;
    height: 50000px;
}
/* startnavpar*/

.navbar .navbar-expand-lg .navbar-light  .bg-color{
    background-color: #f8f9fa00;
    
}

.navbar-nav{
    padding: 2px;
    background-color: var(--main-color);
    border-radius: 7px;
  outline: 4px solid #555
    
}

.navbar-nav{
    margin-left: auto;
}

.navbar-light .navbar-nav .nav-link {
  transition: all 0.3s ease; /* الوقت ونوع الحركة */
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: var(--Text-Hover-color);
  background-color: #2b2a2a;
  border-radius: 7px;
}


.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: var(--Text-Color);
}
.btn img{
transition: 0.5s;
}
.btn:hover img{
    transform: scale(1.6);
}
.navbar-toggler .collapsed{
    background-color: aquamarine;
}
/*end nav*/
/*start hero*/



/*end hero*/